@use "sass:map";

$children: (
        1: (time: -0.036s, top: 63px, left: 63px),
        2: (time: -0.072s, top: 68px, left: 56px),
        3: (time: -0.108s, top: 71px, left: 48px),
        4: (time: -0.144s, top: 72px, left: 48px),
        5: (time: -0.18s, top: 71px, left: 32px),
        6: (time: -0.216s, top: 68px, left: 24px),
        7: (time: -0.252s, top: 63px, left: 17px),
        8: (time: -0.288s, top: 56px, left: 12px)
);

.loader {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(76, 86, 106, 0.8);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;


      &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }

      @each $nth, $values in $children {
        &:nth-child(#{$nth}) {
          animation-delay: map.get($values, time);

          &:after {
            top: map.get($values, top);
            left: map.get($values, left)
          }
        }
      }
    }
  }
}