$grey-1: #2E3440;
$grey-2: #3B4252;
$grey-3: #434C5E;
$grey-4: #4C566A;

$snow-1: #D8DEE9;
$snow-2: #E5E9F0;
$snow-3: #ECEFF4;

$frost-1: #8FBCBB;
$frost-2: #88C0D0;
$frost-3: #81A1C1;
$frost-4: #5E81AC;

$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$purple: #B48EAD;

$header__height: 5vh;
$header__spacing: 1em;
$container__height: calc((100vh - #{$header__height}) - #{$header__spacing} * 2);